name = "Stingray"
uuid = "2045e982-6adb-4e09-8364-0d2cc8a3fe4f"
authors = ["Aman Pandey"]
version = "0.1.0"

[deps]
FFTW = "7a1cc6ca-52ef-59f5-83cd-3a7055c09341"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
ResumableFunctions = "c5292f4c-5179-55e1-98c5-05642aab7184"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
ProgressBars = "49802e3a-d2f1-5c88-81d8-b72133a6f568"
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
Metadata = "4fb893c1-3164-4f58-823a-cb4c64eabb4f"
HDF5 = "f67ccb44-e63f-5c2f-98bd-6dc0ccc4ba2f"
NaNMath = "77ba4419-2d1f-58cd-9bb1-8ffee604a2e3"

[compat]
julia = "1.7"
FFTW = "1.4"
Distributions = "0.25"
ResumableFunctions = "0.6"
StatsBase = "0.33"
ProgressBars = "1.4"
DataFrames = "1.3"
Metadata = "0.3"
HDF5 = "0.16"
NaNMath = "0.3"


[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
