name = "Stingray"
uuid = "2045e982-6adb-4e09-8364-0d2cc8a3fe4f"
authors = ["Aman Pandey"]
version = "0.1.0"

[deps]
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
FFTW = "7a1cc6ca-52ef-59f5-83cd-3a7055c09341"
FITSIO = "525bcba6-941b-5504-bd06-fd0dc1a4d2eb"
Flux = "587475ba-b771-5e3f-ad9e-33799f191a9c"
HDF5 = "f67ccb44-e63f-5c2f-98bd-6dc0ccc4ba2f"
Intervals = "d8418881-c3e1-53bb-8760-2df7ec849ed5"
JuliaFormatter = "98e50ef6-434e-11e9-1051-2b60c6c9e899"
Logging = "56ddb016-857b-54e1-b83d-db4d58db5568"
NaNMath = "77ba4419-2d1f-58cd-9bb1-8ffee604a2e3"
ProgressBars = "49802e3a-d2f1-5c88-81d8-b72133a6f568"
ResumableFunctions = "c5292f4c-5179-55e1-98c5-05642aab7184"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"

[compat]
DataFrames = "1.3"
Distributions = "0.25"
FFTW = "1.4"
FITSIO = "0.16"
Flux = "0.16.3"
HDF5 = "0.16"
Intervals = "1.8"
JuliaFormatter = "1.0.62"
Logging = "1.11.0"
NaNMath = "0.3, 1"
ProgressBars = "1.4"
ResumableFunctions = "0.6"
StatsBase = "0.33"
julia = "1.11"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
